@media only screen and (max-width: 1199px) {
  .header-contacts__mail {;
    margin-right: 100px;
  }
  .header__wrapper__logo {
    margin-left: 0;
  }
  .header-contacts__social {
    margin-right: 0;
    width: 50%;
    text-align: right;
  }
  .header__wrapper__nav {
    margin-right: 0;
  }
  .header__wrapper__nav ul li:last-child{
    margin-right: 8px;
  }
  .header-contacts__mail {
    float: left;
  }
}

@media only screen and (max-width: 1024px) {
  .header__wrapper__nav__menu li {
    margin-right: 25px;
  }
  .products-berkana__wrapper__text {
    float: left;
    width: 100%;
  }
  .header-contacts__mail {
    width: 50%;
    float: left;
    margin-right: 0;
  }

}

@media only screen and (max-width: 980px) {
	
}

@media only screen and (max-width: 770px) {
  .products-berkana__wrapper__text p {
    text-align: center;
  }
  .header__wrapper__nav {
    display: none;
  }
  .header__wrapper__nav__menu li {
    margin-right: 18px;
  }
  .quote__wrapper {
    width: 100%;
    margin: 100px auto;
  }
  .footer-nav__social {
    width: 100%;
    margin: 30px 0 30px 0;
    text-align: center;
  }
  .footer-nav__navigation ul li {
    display: block;
    margin: 19px 10px;
    text-align: center;
  }
  .footer-nav__navigation ul li {
    width: 100%;
  }
  .header-contacts__social {
    width: 50%;
    text-align: right;
    margin-right: 0;
  }
  .footer__wrapper {
    width: 100%;
  }
  .footer__wrapper__form {
    float: none;
    margin: 0 auto;
  }
  .footer__wrapper h1, .footer__wrapper p {
    text-align: center;
  }
  .footer__wrapper__contacts {
    text-align: center;
  }
  .footer-nav__navigation {
    width: 420px;
    margin-right: 41px;
  }

//  page2 internal-page
  .header2__wrapper__nav {
    display: none;
  }

  .header2__wrapper__logo {
    margin-left: 0;
  }

  .header2__content {
    width: 100%;
    margin-left: 0;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .header2__content .buy {
    float: none;
    margin: 0 auto;
  }

  .header2__content button {
    float: none;
    margin: 30px auto;
  }

  .function-bercana__content {
    width: 100%;
  }
  .function-bercana__content p span i {
    left: 0;
    position: relative;
    margin-right: 13px;
  }

  .joint-products__wrapper {
    width: 100%;
  }
  .joint-products__wrapper__item {
    margin: 50px 74px;
  }
  .joint-products__wrapper .owl-next {
    right: 30px;
  }
  .joint-products__wrapper .owl-prev {
    right: 30px;
  }
  .joint-products__wrapper .owl-prev {
    left: 30px;
  }
  .reviews__wrapper__absolute {
    left: 0;
  }
}

@media only screen and (max-width: 736px) {
  .header__wrapper__nav {
    display: none;
  }
  .footer-nav__navigation {
    width: 100%;
    margin-right: 11px;
  }
  .header__content {
    width: 100%;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
  }
  .header__content button {
    float: none;
    display: block;
    margin: 30px auto;
    text-transform: uppercase;
    font-size: 15px;
  }
  .header-contacts__mail {
    width: 70%;
    float: left;
    display: block;
    margin-right: 0;
    height: 47px;
  }
  .header-contacts__social {
    width: 28%;
    line-height: 30px;
  }
  .products-berkana__wrapper__h1 h1 {
    width: 100%;
  }
  .products-berkana__why-we-wrapper__wrap {
    width: 100%;
  }
  .footer__wrapper h1 {
    font-size: 36px;
    margin: 20px 0;
  }
  .footer__wrapper p {
    margin: 0;
    font-size: 31px;
  }
  .footer__wrapper__contacts {
    margin: 20px 0;
  }
  .footer__wrapper__form__item {
    float: left;
  }
  .footer__wrapper__form__item input {
    width: 100%;
  }
  .footer__wrapper__form__item textarea {
    width: 100%;
  }
  .footer__wrapper form{
    width: 100%;
  }
  .footer__wrapper__form__label {
    float: left;
    position: relative;
    width: 50px;
    font-size: 11px;
    color: #9fa1a5;
    text-transform: uppercase;
    bottom: -87px;
    z-index: 1;
  }
  .footer__wrapper__form__item input, .footer__wrapper__form__item textarea, .footer__wrapper form {
    width: 100%;
    position: relative;
    top: -133px;
  }
}

@media only screen and (max-width: 500px) {
  .header__wrapper__nav {
    display: none;
  }
  .header2__wrapper__logo {
    margin-top: 30px;
  }
  .header__content {
    width: 100%;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
  }
  .header__content button {
    float: none;
    display: block;
    margin: 30px auto;
    text-transform: uppercase;
    font-size: 15px;
  }
  .header-contacts__mail {
    width: 70%;
    float: left;
    display: block;
    margin-right: 0;
    height: 47px;
  }
  .header-contacts__social {
    width: 28%;
    line-height: 30px;
  }
  .products-berkana__wrapper__h1 h1 {
    width: 100%;
  }
  .products-berkana__why-we-wrapper__wrap {
    width: 100%;
  }
  .footer__wrapper h1 {
    font-size: 36px;
    margin: 20px 0;
  }
  .footer__wrapper p {
    margin: 0;
    font-size: 31px;
  }
  .footer__wrapper__contacts {
    margin: 20px 0;
  }
  .footer__wrapper__form__item {
    float: left;
  }
  .footer__wrapper__form__item input {
    width: 100%;
  }
  .footer__wrapper__form__item textarea {
    width: 100%;
  }
  .footer__wrapper form{
    width: 100%;
  }
  .footer__wrapper__form__label {
    float: left;
    position: relative;
    width: 50px;
    font-size: 11px;
    color: #9fa1a5;
    text-transform: uppercase;
    bottom: -87px;
    z-index: 1;
  }
  .footer__wrapper__form__item input, .footer__wrapper__form__item textarea, .footer__wrapper form {
    width: 100%;
    position: relative;
    top: -133px;
  }
}

@media only screen and (max-width: 320px) {
  .header2__wrapper__logo {
    margin-top: 30px;
  }
  .header__wrapper__nav {
    display: none;
  }
  .header__content {
    width: 100%;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
  }
  .header__content button {
    float: none;
    display: block;
    margin: 30px auto;
    text-transform: uppercase;
    font-size: 15px;
  }
  .header-contacts__mail {
    width: 70%;
    float: left;
    display: block;
    margin-right: 0;
    height: 47px;
  }
  .header-contacts__social {
    width: 28%;
  }
  .products-berkana__wrapper__h1 h1 {
    width: 100%;
  }
  .products-berkana__why-we-wrapper__wrap {
    width: 100%;
  }
  .footer__wrapper h1 {
    font-size: 36px;
    margin: 20px 0;
  }
  .footer__wrapper p {
    margin: 0;
    font-size: 31px;
  }
  .footer__wrapper__contacts {
    margin: 20px 0;
  }
  .footer__wrapper__form__item {
    float: left;
  }
  .footer__wrapper__form__item input {
    width: 100%;
  }
  .footer__wrapper__form__item textarea {
    width: 100%;
  }
  .footer__wrapper form{
    width: 100%;
  }
  .footer__wrapper__form__label {
    float: left;
    position: relative;
    width: 50px;
    font-size: 11px;
    color: #9fa1a5;
    text-transform: uppercase;
    bottom: -87px;
    z-index: 1;
  }
  .footer__wrapper__form__item input, .footer__wrapper__form__item textarea, .footer__wrapper form {
    width: 100%;
    position: relative;
    top: -133px;
  }


//  page 2 internal page

  .joint-products__wrapper__item {
    margin: 50px 41px;
  }
}