
.header {
  position: relative;
  float: left;
  display: block;
  width: 100%;
  background: url("../img/head-bg.jpg") no-repeat;
  background-size: cover;
  &__wrapper {
    position: relative;
    float: left;
    display: block;
    width: 100%;
    &__logo {
      width: 180px;
      position: relative;
      float: left;
      display: block;
      margin-top: 5px;
      margin-left: 60px;
      a {
        display: block;
        float: left;
        position: relative;
      }
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    &__nav {
      display: block;
      position: relative;
      float: right;
      margin-right: 60px;
      &__search {
          display: none;
          margin: 10px 0;
          box-sizing: border-box;
          position: absolute;
          right: 43px;
          width: 253px;
          top: 40px;
          input{
            height: 30px;
            width: 60%;
            outline: 3px  rgba(90, 176, 179, 0.9);
            &::placeholder {
              text-align: left;
              font-size: 13px;
              text-transform: uppercase;
              letter-spacing: 2px;
            }
          }
          input[type="search"] {
            text-align: left;
            padding-left: 5px;
          }
          button{
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            height: 100%;
            width: 40%;
            border: 0;
            background-color: rgba(90, 176, 179, 0.9);
            outline: 0;
            color: #fff;
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 2px;
            cursor: pointer;
          }
        }
      &__menu {
        li {
          list-style: none;
          display: inline-block;
          margin-right: 45px;
          float: left;
          position: relative;
          a {
            color: #fff;
            font-size: 14px;
            text-transform: uppercase;
          }
        }
      }
    }

    .menu-link {
      display: none;
      width: 50px;
      height: 50px;
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, .4);
      position: fixed;
      right: 12px;
      z-index: 10;
      top: 50px;
      span, span:before, span:after {
        display: block;
        height: 2px;
        width: 18px;
        background-color: #222;
        position: absolute;
        left: 50%;
        margin-left: -9px;
        top: 50%;
        margin-top: -1px;
      }
      span:before {
        transition: all 0.2s;
        margin-top: -6px;
        content: '';
      }
      span:after {
        transition: all 0.2s;
        margin-top: 4px;
        content: '';
      }
      &_active span {
        background-color: transparent;
        &:before {
          transform: rotate(135deg);
          margin-top: 0;
        }
        &:after {
          transform: rotate(-134deg);
          margin-top: 0;
        }
      }
    }
  }
  &__content {
    width: 507px;
    display: block;
    float: left;
    position: relative;
    margin-left: 140px;
    margin-bottom: 90px;
    margin-top: 60px;
    h1 {
      font-family: $latoBold;
      font-size: 42px;
      color: #fff;
      text-transform: uppercase;
    }
    p {
      color: #fff;
      font-family: $latoReg;
      font-size: 23px;
    }
    button {
      float: right;
      display: block;
      margin-top: 30px;
      font-family: $latoBlack;
      padding: 15px 15px;
      outline: none;
      cursor: pointer;
      background: transparent;
      color: #fff;
      border-radius: 10px;
      border: 1px solid #fff;
      text-transform: uppercase;
      font-size: 15px;
    }
  }
}

.header2 {
  position: relative;
  float: left;
  display: block;
  width: 100%;
  background: url("../img/head-bg-2.jpg") no-repeat;
  background-size: cover;
  &__wrapper {
    position: relative;
    float: left;
    display: block;
    width: 100%;
    &__logo {
      width: 180px;
      position: relative;
      float: left;
      display: block;
      margin-top: 5px;
      margin-left: 60px;
      a {
        display: block;
        float: left;
        position: relative;
      }
      img {
        width: 100%;
        object-fit: cover;
      }
    }

    &__nav {
      display: block;
      position: relative;
      float: right;
      margin-right: 60px;
      &__search {
        display: none;
        margin: 10px 0;
        box-sizing: border-box;
        position: absolute;
        right: 43px;
        width: 253px;
        top: 40px;
        input{
          height: 30px;
          width: 60%;
          outline: 3px  rgba(90, 176, 179, 0.9);
          &::placeholder {
            text-align: left;
            font-size: 13px;
            text-transform: uppercase;
            letter-spacing: 2px;
          }
        }
        input[type="search"] {
          text-align: left;
          padding-left: 5px;
        }
        button{
          position: absolute;
          top: 0;
          right: 0;
          display: block;
          height: 100%;
          width: 40%;
          border: 0;
          background-color: rgba(90, 176, 179, 0.9);
          outline: 0;
          color: #fff;
          font-size: 14px;
          text-transform: uppercase;
          letter-spacing: 2px;
          cursor: pointer;
        }
      }
      &__menu {
        li {
          list-style: none;
          display: inline-block;
          margin-right: 45px;
          float: left;
          position: relative;
          a {
            color: #fff;
            font-size: 14px;
            text-transform: uppercase;
          }
        }
      }
    }
    .menu-link {
      display: none;
      width: 50px;
      height: 50px;
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, .4);
      position: fixed;
      right: 12px;
      z-index: 10;
      top: 50px;
      span, span:before, span:after {
        display: block;
        height: 2px;
        width: 18px;
        background-color: #222;
        position: absolute;
        left: 50%;
        margin-left: -9px;
        top: 50%;
        margin-top: -1px;
      }
      span:before {
        transition: all 0.2s;
        margin-top: -6px;
        content: '';
      }
      span:after {
        transition: all 0.2s;
        margin-top: 4px;
        content: '';
      }
      &_active span {
        background-color: transparent;
        &:before {
          transform: rotate(135deg);
          margin-top: 0;
        }
        &:after {
          transform: rotate(-134deg);
          margin-top: 0;
        }
      }
    }
  }

  &__content {
    width: 500px;
    display: block;
    float: left;
    position: relative;
    margin-left: 77px;
    margin-bottom: 90px;
    margin-top: 60px;
    h1 {
      font-family: $latoBold;
      font-size: 32px;
      color: #fff;
      text-transform: uppercase;
      margin: 0;
    }
    p {
      color: #fff;
      font-family: $latoReg;
      font-size: 20px;
    }
    .buy {
      height: 50px;
      float: left;
      width: 180px;
      display: block;
      position: relative;
      background-color: #fff;
      color: #2c2c2c;
    }
    button {
      float: right;
      display: block;
      margin-top: 30px;
      font-family: $latoBlack;
      height: 50px;
      width: 250px;
      outline: none;
      cursor: pointer;
      background: transparent;
      color: #fff;
      border-radius: 10px;
      border: 1px solid #fff;
      text-transform: uppercase;
      font-size: 15px;
      &:hover {
        background: #fff;
        color: #333;
        transition: 500ms ease;
      }
    }
  }

}