.footer {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  background: #fff;
  &__wrapper {
    display: block;
    position: relative;
    float: left;
    width: 50%;
    margin-bottom: 50px;
    &__form {
      display: block;
      position: relative;
      width: 400px;
      margin-top: 70px;
      &__label {
        float: left;
        position: relative;
        width: 50px;
        .label1 {
          position: relative;
          display: block;
          float: left;
          margin-top: 13px;
        }
        .label2 {
          position: relative;
          display: block;
          float: left;
          margin-top: 41px;
        }
        .label3 {
          position: relative;
          display: block;
          float: left;
          margin-top: 60px;
        }
      }

      &__item {
        position: relative;
        float: right;
        input {
          width: 300px;
          display: block;
          border: 0;
          border-bottom: 2px solid #e3e3e3;
          height: 40px;

        }
        textarea {
          width: 300px;
          display: block;
          max-width: 300px;
          height: 40px;
          border: 0;
          border-bottom: 2px solid #e3e3e3;
          box-sizing: border-box;
        }
        button {
          display: block;
          margin: 0 auto;
          width: 150px;
          height: 35px;
          background: #f1c731;
          border: 0;
          outline: none;
          border-radius: 10px;
          font-family: $latoBlack;
          text-transform: uppercase;
          font-size: 11px;
        }
        .warning {
          font-size: 12px;
          color: #9fa1a5;
          text-transform: none;
          font-family: $openSansSemiB;
          margin-top: 12px;
          margin-left: 0;
          text-align: left;
          span {
            color: #da593e;
            margin-right: 10px;
          }
        }

      }
      //.form-line{
      //  display: block;
      //  width: 300px;
      //  height: 2px;
      //  background: #e3e3e3;
      //  position: absolute;
      //}
    }
    h1 {
      font-size: 60px;
      font-family: $latoBlack;
      text-transform: uppercase;
      color: #303030;
      margin: 70px 0 0 30px;
      padding: 0;
    }
    p {
      margin: 0 0 50px 30px;
      padding: 0;
      font-size: 50px;
      text-transform: uppercase;
      font-family: $latoBold;
      color: #303030;

    }
    &__contacts {
      margin-left: 30px;
      margin-bottom: 25px;
      i {
        color: #7db9bb;
        margin-right: 10px;
      }
      span {
        font-family: $latoBold;
        font-size: 14px;
        color: #303030;
      }
    }

  }
}