.footer {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  background: #fff;
  &__wrapper {
    display: block;
    position: relative;
    float: left;
    width: 50%;
    margin-bottom: 50px;
    &__form{
      display: block;
      position: relative;
      float: left;
      width: 100%;
    }
    h1 {
      font-size: 60px;
      font-family: $latoBlack;
      text-transform: uppercase;
      color: #303030;
      margin: 70px 0 0 30px;
      padding: 0;
    }
    p {
      margin: 0 0 50px 30px;
      padding: 0;
      font-size: 50px;
      text-transform: uppercase;
      font-family: $latoBold;
      color: #303030;

    }
    &__contacts {
      margin-left: 30px;
      margin-bottom: 25px;
      i {
        color: #7db9bb;
        margin-right: 10px;
      }
      span {
        font-family: $latoBold;
        font-size: 14px;
        color: #303030;
      }
    }

  }
}