.footer-page{
  display: block;
  position: relative;
  float: left;
  width: 100%;
  .footer__wrapper__form {
    height: 360px;
  }
.footer-wrap-title{
  h1{
    color: #2c2c2c;
    font-size: 16px;
    margin: 20px;
    text-align: center;
  }
}

  .footer__wrapper__form__wrap .name {
    width: 88px;
  }
}